@import "tailwindcss";

:root {
  @theme {
    --color-surface: #fafafa;
    --color-foreground: #1a1a1a;

    --color-muted: #f2f2f2;
    --color-muted-foreground: #8f8f8f;

    --color-border: #6f6f6f;
    --color-ring: #6f6f6f;

    --color-primary: #0c0c0c;
    --color-on-primary: #fafafa;

    --color-secondary: #323232;
    --color-on-secondary: #ebebeb;

    --color-reverse-5: rgba(0, 0, 0, 0.05);
    --color-reverse-10: rgba(0, 0, 0, 0.1);
    --color-reverse-25: rgba(0, 0, 0, 0.25);
    --color-reverse-50: rgba(0, 0, 0, 0.5);
    --color-reverse-75: rgba(0, 0, 0, 0.75);
    --color-reverse-100: rgb(0, 0, 0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-surface: #1d1d1d;
    --color-foreground: #ebebeb;

    --color-muted: #232323;
    --color-muted-foreground: #d0d0d0;

    --color-border: #d0d0d0;
    --color-ring: #d0d0d0;

    --color-primary: #fafafa;
    --color-on-primary: #0c0c0c;

    --color-secondary: #ebebeb;
    --color-on-secondary: #323232;

    --color-reverse-5: rgba(255, 255, 255, 0.05);
    --color-reverse-10: rgba(255, 255, 255, 0.1);
    --color-reverse-25: rgba(255, 255, 255, 0.25);
    --color-reverse-50: rgba(255, 255, 255, 0.5);
    --color-reverse-75: rgba(255, 255, 255, 0.75);
    --color-reverse-100: rgba(255, 255, 255, 1);
  }
}

@layer components {
  /* Effect */
  .hover-bg-effect {
    @apply hover:bg-reverse-5;
  }
  .data-focus-outline-effect {
    @apply data-focus:outline-reverse-25
    focus:not-data-focus:outline-none data-focus:outline-2 data-focus:-outline-offset-2;
  }
  .click-effect {
    @apply text-on-primary
    data-hover:text-reverse-100
    data-active:text-reverse-100
    data-focus:text-reverse-100
    hover:bg-reverse-5
    rounded-xl cursor-pointer;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    @apply truncate;
  }
}
