@import "tailwindcss";

@theme {
  /* Light Theme */
  --color-light-bg-primary: #ededed;
  --color-light-bg-secondary: #e7e7e7;
  --color-light-bg-tertiary: #f0f0f0;
  --color-light-bg-transparent: rgba(255, 255, 255, 0.05);

  --color-light-fg-primary: #1e1e1e;
  --color-light-fg-secondary: #181818;
  --color-light-fg-assistant: rgba(0, 0, 0, 0.5);
  --color-light-fg-accent: #000000;

  /* Dark Theme */
  --color-dark-bg-primary: #1e1e1e;
  --color-dark-bg-secondary: #262626;
  --color-dark-bg-tertiary: #343434;
  --color-dark-bg-transparent: rgba(0, 0, 0, 0.05);

  --color-dark-fg-primary: #ededed;
  --color-dark-fg-secondary: #e7e7e7;
  --color-dark-fg-assistant: rgba(255, 255, 255, 0.5);
  --color-dark-fg-accent: #ffffff;
}

@layer components {
  .bg-primary {
    @apply bg-light-bg-primary dark:bg-dark-bg-primary;
  }
  .bg-secondary {
    @apply bg-light-bg-secondary dark:bg-dark-bg-secondary;
  }
  .bg-secondary-reverse {
    @apply bg-dark-bg-secondary dark:bg-light-bg-secondary;
  }
  .bg-tertiary {
    @apply bg-light-bg-tertiary dark:bg-dark-bg-tertiary;
  }
  .bg-transparent {
    @apply bg-light-bg-transparent dark:bg-dark-bg-transparent;
  }
  .bg-transparent-reverse {
    @apply bg-dark-bg-transparent dark:bg-light-bg-transparent;
  }
  .fg-primary {
    @apply text-light-fg-primary dark:text-dark-fg-primary;
  }
  .fg-secondary {
    @apply text-light-fg-secondary dark:text-dark-fg-secondary;
  }
  .fg-assistant {
    @apply text-light-fg-assistant dark:text-dark-fg-assistant;
  }
  .fg-accent {
    @apply text-light-fg-accent dark:text-dark-fg-accent;
  }
  .hover-bg-effect {
    @apply hover:bg-dark-bg-transparent dark:hover:bg-light-bg-transparent;
  }
  .click-effect {
    @apply text-light-fg-assistant dark:text-dark-fg-assistant
    data-hover:text-light-fg-accent dark:data-hover:text-dark-fg-accent 
    data-active:text-light-fg-accent dark:data-active:text-dark-fg-accent 
    data-focus:text-light-fg-accent dark:data-focus:text-dark-fg-accent;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
