@import "tailwindcss";

@theme {
  /* Light Colors */
  --color-light-primary: #e0e0e0;
  --color-light-secondary: #eaeaea;
  --color-light-tertiary: #f4f4f4;

  --color-light-transparent-5: rgba(255, 255, 255, 0.05);
  --color-light-transparent-25: rgba(255, 255, 255, 0.25);
  --color-light-transparent-50: rgba(255, 255, 255, 0.5);
  --color-light-transparent-75: rgba(255, 255, 255, 0.75);
  --color-light-transparent-100: rgba(255, 255, 255, 1);

  /* Dark Colors */
  --color-dark-primary: #1a1a1a;
  --color-dark-secondary: #232323;
  --color-dark-tertiary: #2d2d2d;

  --color-dark-transparent-5: rgba(40, 40, 40, 0.05);
  --color-dark-transparent-25: rgba(40, 40, 40, 0.25);
  --color-dark-transparent-50: rgba(40, 40, 40, 0.5);
  --color-dark-transparent-75: rgba(40, 40, 40, 0.75);
  --color-dark-transparent-100: rgba(40, 40, 40, 1);
}

@layer components {
  /* Background Colors */
  .bg-primary {
    @apply bg-light-primary dark:bg-dark-primary;
  }
  .bg-secondary {
    @apply bg-light-secondary dark:bg-dark-secondary;
  }
  .bg-tertiary {
    @apply bg-light-tertiary dark:bg-dark-tertiary;
  }
  .bg-reverse {
    @apply bg-dark-secondary dark:bg-light-secondary;
  }
  .bg-transparent {
    @apply bg-light-transparent-5 dark:bg-dark-transparent-5;
  }
  .bg-transparent-reverse {
    @apply bg-dark-transparent-5 dark:bg-light-transparent-5;
  }
  .bg-transparent-25 {
    @apply bg-light-transparent-25 dark:bg-dark-transparent-25;
  }
  .bg-transparent-reverse-25 {
    @apply bg-dark-transparent-25 dark:bg-light-transparent-25;
  }
  .bg-transparent-50 {
    @apply bg-light-transparent-50 dark:bg-dark-transparent-50;
  }
  .bg-transparent-reverse-50 {
    @apply bg-dark-transparent-50 dark:bg-light-transparent-50;
  }
  .bg-transparent-75 {
    @apply bg-light-transparent-75 dark:bg-dark-transparent-75;
  }
  .bg-transparent-reverse-75 {
    @apply bg-dark-transparent-75 dark:bg-light-transparent-75;
  }
  .bg-contrast-main {
    @apply bg-dark-transparent-50 dark:bg-light-transparent-75;
  }
  .bg-contrast-sub {
    @apply bg-light-transparent-75 dark:bg-light-transparent-25;
  }

  /* Foreground Colors */
  .fg-principal {
    @apply text-dark-primary dark:text-light-primary;
  }
  .fg-assistant {
    @apply text-dark-transparent-50 dark:text-light-transparent-50;
  }
  .fg-accent {
    @apply text-dark-transparent-100 dark:text-light-transparent-100;
  }
  .fg-reverse {
    @apply text-light-primary dark:text-dark-primary;
  }
  .border-primary {
    @apply border-dark-transparent-25 dark:border-light-transparent-25;
  }
  .border-accent {
    @apply border-dark-transparent-50 dark:border-light-transparent-50;
  }
  .divide-primary {
    @apply divide-dark-transparent-5 dark:divide-light-transparent-5;
  }

  /* Effect */
  .hover-bg-effect {
    @apply hover:bg-dark-transparent-5 dark:hover:bg-light-transparent-5;
  }
  .hover-outline-effect {
    @apply hover:outline-dark-transparent-25 dark:hover:outline-light-transparent-25
    hover:outline-2 hover:-outline-offset-2;
  }
  .hover-outline-effect-reverse {
    @apply hover:outline-light-transparent-25 dark:hover:outline-dark-transparent-25
    hover:outline-2 hover:-outline-offset-2;
  }
  .data-focus-outline-effect {
    @apply data-focus:outline-dark-transparent-25 dark:data-focus:outline-light-transparent-25
    focus:not-data-focus:outline-none data-focus:outline-2 data-focus:-outline-offset-2;
  }
  .click-effect {
    @apply text-dark-transparent-50 dark:text-light-transparent-50
    data-hover:text-dark-transparent-100 dark:data-hover:text-light-transparent-100 
    data-active:text-dark-transparent-100 dark:data-active:text-light-transparent-100 
    data-focus:text-dark-transparent-100 dark:data-focus:text-light-transparent-100 
    hover:bg-dark-transparent-5 dark:hover:bg-light-transparent-5
    rounded-xl cursor-pointer;
  }

  .text-h1 {
    @apply text-4xl font-extrabold;
  }
  .text-h2 {
    @apply text-2xl font-bold;
  }
  .text-h3 {
    @apply text-xl font-semibold;
  }
  .text-normal {
    @apply text-lg font-medium;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  p {
    @apply truncate;
  }
}
