@import "tailwindcss";

@theme {
  /* Light Theme */
  --color-light-bg-primary: #e0e0e0;
  --color-light-bg-secondary: #eaeaea;
  --color-light-bg-tertiary: #f4f4f4;
  --color-light-bg-transparent: rgba(255, 255, 255, 0.05);

  --color-light-fg-principal: #1a1a1a;
  --color-light-fg-assistant: rgba(0, 0, 0, 0.5);
  --color-light-fg-transparent: rgba(0, 0, 0, 0.25);
  --color-light-fg-accent: #000000;

  /* Dark Theme */
  --color-dark-bg-primary: #1a1a1a;
  --color-dark-bg-secondary: #232323;
  --color-dark-bg-tertiary: #2d2d2d;
  --color-dark-bg-transparent: rgba(0, 0, 0, 0.05);

  --color-dark-fg-principal: #e4e4e4;
  --color-dark-fg-assistant: rgba(255, 255, 255, 0.5);
  --color-dark-fg-transparent: rgba(255, 255, 255, 0.25);
  --color-dark-fg-accent: #ffffff;
}

@layer components {
  .bg-primary {
    @apply bg-light-bg-primary dark:bg-dark-bg-primary;
  }
  .bg-secondary {
    @apply bg-light-bg-secondary dark:bg-dark-bg-secondary;
  }
  .bg-tertiary {
    @apply bg-light-bg-tertiary dark:bg-dark-bg-tertiary;
  }
  .bg-transparent {
    @apply bg-light-bg-transparent dark:bg-dark-bg-transparent;
  }
  .bg-transparent-reverse {
    @apply bg-dark-bg-transparent dark:bg-light-bg-transparent;
  }
  .fg-principal {
    @apply text-light-fg-principal dark:text-dark-fg-principal;
  }
  .fg-assistant {
    @apply text-light-fg-assistant dark:text-dark-fg-assistant;
  }
  .fg-transparent {
    @apply text-light-fg-transparent dark:text-dark-fg-transparent;
  }
  .fg-accent {
    @apply text-light-fg-accent dark:text-dark-fg-accent;
  }
  .border-primary {
    @apply border-light-fg-transparent dark:border-dark-fg-transparent;
  }
  .border-accent {
    @apply border-light-fg-principal dark:border-dark-fg-principal;
  }
  .divide-primary {
    @apply divide-dark-bg-transparent dark:divide-light-bg-transparent;
  }
  .data-focus-outline {
    @apply data-focus:outline-light-fg-transparent dark:data-focus:outline-dark-fg-transparent;
  }
  .hover-bg-effect {
    @apply hover:bg-dark-bg-transparent dark:hover:bg-light-bg-transparent;
  }
  .click-effect {
    @apply text-light-fg-assistant dark:text-dark-fg-assistant
    data-hover:text-light-fg-accent dark:data-hover:text-dark-fg-accent 
    data-active:text-light-fg-accent dark:data-active:text-dark-fg-accent 
    data-focus:text-light-fg-accent dark:data-focus:text-dark-fg-accent
    hover:bg-dark-bg-transparent dark:hover:bg-light-bg-transparent
    rounded-xl cursor-pointer;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
